$text-color: $lightgrey;
$leitura-news: "leitura-news", serif;
$serif: $leitura-news;
$sans-serif: "pragmatica-web", helvetica, arial, sans-serif;
$din: "din-condensed-web", sans-serif;
$body--font: $serif;

%din {
  font-family: $din;
  font-weight: 400;
}

body {
  font-size: 24px;
  color: $text-color;
  font-family: $body--font;
}

h1 {
  font-size: 7rem;
  font-family: $sans-serif;
  font-weight: 800;
  letter-spacing: -4px;
  @include tablet {
    font-size: 6rem;
  }
  @include mobile {
    font-size: 3.5rem;
    letter-spacing: -2px;
  }
}

h2 {
  font-size: 4rem;
  font-family: $sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1em;
}

p {
  line-height: 1.7em;
}

strong {
  font-weight: bold;
}